
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">
    
    <title>Resolving Issue #{{issue_id}} | CSP</title>
    
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='base/assets') }}/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='base/assets') }}/images/favicon.ico">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/assets') }}/css/site.min.css">
    
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/waves/waves.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/dropify/dropify.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/summernote/summernote.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='base/assets') }}/examples/css/pages/project.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/vendor/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='base/assets') }}/examples/css/advanced/lightbox.css">
    
    
    <!-- Fonts -->
        <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global')}}/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='global')}}/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="{{ url_for('static', filename='global')}}/vendor/media-match/media.match.min.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/respond/respond.min.js"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='global')}}/vendor/breakpoints/breakpoints.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/ply_libs/three.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/ply_libs/OrbitControls.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/ply_libs/Detector.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/ply_libs/PLYLoader.js"></script>

    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-project">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
          data-toggle="menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
          data-toggle="collapse">
          <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
          <img class="navbar-brand-logo" src="{{ url_for('static', filename='base/assets') }}/images/logo.png" title="Remark">
          <span class="navbar-brand-text hidden-xs-down"> CSP</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
          data-toggle="collapse">
          <span class="sr-only">Toggle Search</span>
          <i class="icon md-search" aria-hidden="true"></i>
        </button>
      </div>
    
      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="nav-item hidden-float" id="toggleMenubar">
              <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
            <li class="nav-item hidden-sm-down" id="toggleFullscreen">
              <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                <span class="sr-only">Toggle fullscreen</span>
              </a>
            </li>
            <li class="nav-item hidden-float">
              <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                role="button">
                <span class="sr-only">Toggle Search</span>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar -->
    
          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
           
            <li class="nav-item dropdown">
              <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img src="{{ url_for('static', filename='global')}}/portraits/5.jpg" alt="...">
                  <i></i>
                </span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
                <div class="dropdown-divider" role="presentation"></div>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
              </div>
            </li>
           
          </ul>
          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
          <form role="search">
            <div class="form-group">
              <div class="input-search">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="site-search" placeholder="Search...">
                <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                  data-toggle="collapse" aria-label="Close"></button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Site Navbar Seach -->
      </div>
    </nav>    
    <div class="site-menubar">
      <div class="site-menubar-body">
        <div>
          <div>
            <ul class="site-menu" data-plugin="menu">
              <li class="site-menu-category">General</li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/">
                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">Dashboard</span>
                    </a>
              </li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="/app/submit">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">New Submission</span>
                      </a>
              </li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="/app/issues">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">Existing Issues</span>
                      </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/app/myprofile">
                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">Profile</span>
                    </a>
              </li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="../index.html">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">Placeholder</span>
                      </a>
              </li>
              <li class="site-menu-category">Profile</li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="/app/issues/uploaded">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">My Issues</span>
                      </a>
              </li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="/app/edit_profile">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">Edit Profile</span>
                      </a>
              </li>
              <li class="site-menu-item">
                  <a class="animsition-link" href="/logout">
                          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                          <span class="site-menu-title">Logout</span>
                      </a>
              </li>
            </ul>
            <div class="site-menubar-section">
              <h5>
                Milestone
                <span class="float-right">30%</span>
              </h5>
              <div class="progress progress-xs">
                <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
              </div>
              <h5>
                Release
                <span class="float-right">60%</span>
              </h5>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
              </div>
            </div>      </div>
        </div>
      </div>
    
      <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
          data-original-title="Settings">
          <span class="icon md-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
          <span class="icon md-eye-off" aria-hidden="true"></span>
        </a>
        <a href="/logout" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
          <span class="icon md-power" aria-hidden="true"></span>
        </a>
      </div>
    </div>    
      

    <div class="page">
      <div class="page-content">
        <div class="row">
          <div class="col-xxl-9 col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title project-title">
                  Currently Viewing : Issue #{{issue_id}} : {{issue_title}}
                  <btn class="btn btn-pure btn-default icon md-edit btn-edit"></btn>
                </h4>
                <p class="card-text">
                  Project : <a href="#" class="ml-5">{{issue_category}}</a>
                </p>
              </div>
              
              <div class="card-block ">
                <div class="project-controls clearfix">
                  <div class="float-left">
                      
                  </div>
                  <div class="float-right">
                      <button class="btn btn-outline btn-default">
                          Start Project
                        </button>
                    <button class="btn btn-outline btn-default">
                      Resolve Issue
                    </button>
                    
                  </div>
                </div>
                <h4 class="card-title">Description</h4>
                <p class="card-text">
                  {{issue_description}}
                </p>
              </div>
              <div class="card-block">
                <h4 class="project-option-title">Location</h4>
                <p class="card-text">
                  <b>Address</b> : {{issue_location}}</a>
                </p>
                <div class="col-lg-12">
                  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{issue_lat}}%2C%20{{issue_lon}}&key=AIzaSyDqwq58gRX2RO2kjubCGocacSa5l9Emu7k" allowfullscreen></iframe>
                </div>
              </div>
              <div class="card-block">
                <h4 class="project-option-title">3-D Reconstruction</h4>
                <div id="pointclouds_container" class="col-md-12">
                   
                </div>
              </div>
              <div class="card-block">
                  <h4 class="project-option-title">Initial Uploads</h4>
                <div class="row">
                <div class="col-md-6">
                    <div class="example">
                        <a class="inline-block" href="{{issue_image_one}}" data-plugin="magnificPopup"
                          data-main-class="mfp-img-mobile">
                          <img class="img-fluid" src="{{issue_image_one}}" alt="..." 
                          />
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="example">
                        <a class="inline-block" href="{{issue_image_two}}" data-plugin="magnificPopup"
                          data-main-class="mfp-img-mobile">
                          <img class="img-fluid" src="{{issue_image_two}}" alt="..."
                          />
                        </a>
                    </div>
                </div>
              </div>
              </div>
              <div class="card-block">
                <h4 class="project-option-title">Detection Result</h4>
              <div class="row">
              <div class="col-md-12">
                  <div class="example">
                      <a class="inline-block" href="{{issue_image_det}}" data-plugin="magnificPopup"
                        data-main-class="mfp-img-mobile">
                        <img class="img-fluid" src="{{issue_image_det}}" alt="..." 
                        />
                      </a>
                  </div>
              </div>
            </div>
            </div>
              <div class="card-block">
                <h4 class="project-option-title">Uploading</h4>
                <form class="upload-form" id="projectUploadForm" method="POST">
                  <input type="file" id="inputUpload" name="files[]" multiple="" />
                  <div class="uploader-inline">
                    <p class="upload-instructions">Click Or Drop Files To Upload.</p>
                  </div>
                  <div class="file-wrap container-fluid">
                    <div class="file-list row"></div>
                  </div>
                </form>
              </div>
              <div class="card-block project-comments">
                <h4 class="m-0">Comments</h4>
                <div class="comments">
                  <div class="comment media">
                    <div class="pr-15">
                      <a href="#" class="avatar avatar-sm">
                        <img src="{{ url_for('static', filename='global')}}/portraits/1.jpg" alt="...">
                      </a>
                    </div>
                    <div class="comment-body media-body">
                      <div class="comment-title">
                        <div class="comment-meta float-right">
                          <span>04.07.11, 8:02 AM</span>
                        </div>
                        <a href="javascript:void(0)" class="comment-author">
                      Tom Boy
                    </a>
                      </div>
                      <div class="comment-content">
                        <p>
                          Do incididunt aliquip commodo quis. Irure culpa est ex proident sint incididunt.
                          Duis reprehenderit anim pariatur nulla. Exercitation
                          nisi minim duis laboris ex aliquip. Sunt ad Lorem est
                          officia pariatur veniam. Et amet quis dolor nulla voluptate
                          nulla exercitation reprehenderit. Aute excepteur nulla
                          non pariatur voluptate Lorem irure quis. Ut voluptate
                          sunt proident deserunt labore sunt.
                        </p>
                        <button type="button" class="btn btn-pure btn-default icon md-edit p-0 btn-edit">
                        </button>
                        <button type="button" class="btn btn-pure btn-default icon md-delete p-0 btn-trash">
                        </button>
                      </div>
                      <div class="comment-actions text-left">
                        <a href="javascript:void(0)" role="button">Replay</a>
                        <a>
                      <i class="icon md-chevron-down"></i>
                      <span class="pos-number mx-5">1</span>
                      <i class="icon md-chevron-up"></i>
                    </a>
                      </div>
                    </div>
                  </div>
                  <div class="comment media">
                    <div class="pr-15">
                      <a href="#" class="avatar avatar-sm">
                        <img src="{{ url_for('static', filename='global')}}/portraits/4.jpg" alt="...">
                      </a>
                    </div>
                    <div class="comment-body media-body">
                      <div class="comment-title">
                        <div class="comment-meta float-right">
                          <span>04.07.15, 20:02 PM</span>
                        </div>
                        <a href="javascript:void(0)" class="comment-author">
                      Vasilisa
                    </a>
                      </div>
                      <div class="comment-content">
                        <p>
                          Ex deserunt laboris elit do velit. Aute proident laboris laborum minim commodo.
                          Ullamco velit proident aliqua ea fugiat magna. Ut ea
                          amet laborum ipsum ad excepteur quis est laboris. Culpa
                          cupidatat esse voluptate ex in excepteur eiusmod tempor
                          qui. Aliqua non sunt do mollit eiusmod duis esse Lorem
                          sint. Adipisicing fugiat id sunt consequat nostrud dolore
                          et deserunt cillum. Ullamco exercitation excepteur exercitation
                          est officia exercitation.
                        </p>
                        <button type="button" class="btn btn-pure btn-default icon md-edit p-0 btn-edit">
                        </button>
                        <button type="button" class="btn btn-pure btn-default icon md-delete p-0 btn-trash">
                        </button>
                      </div>
                      <div class="comment-actions text-left">
                        <a href="javascript:void(0)" role="button">Replay</a>
                        <a>
                      <i class="icon md-chevron-down"></i>
                      <span>0</span>
                      <i class="icon md-chevron-up"></i>
                    </a>
                      </div>
                    </div>
                  </div>
                  <div class="comment media">
                    <div class="pr-15">
                      <a href="#" class="avatar avatar-sm">
                        <img src="{{ url_for('static', filename='global')}}/portraits/2.jpg" alt="...">
                      </a>
                    </div>
                    <div class="comment-body media-body">
                      <div class="comment-title">
                        <div class="comment-meta float-right">
                          <span>04.08.15, 16:02 PM</span>
                        </div>
                        <a href="javascript:void(0)" class="comment-author">
                      Andy
                    </a>
                      </div>
                      <div class="comment-content">
                        <p>
                          Excepteur aute incididunt eu officia. Aliqua aliquip tempor irure exercitation
                          ea anim labore excepteur. Sint Lorem nisi qui nisi ut.
                          Voluptate excepteur aliqua tempor et ex eu. Nostrud excepteur
                          magna non est eiusmod pariatur. Nulla aute cillum deserunt
                          magna commodo sint occaecat. Consequat occaecat consectetur
                          enim minim. Consectetur excepteur dolore non eiusmod
                          ea laborum eiusmod.
                        </p>
                        <button type="button" class="btn btn-pure btn-default icon md-edit p-0 btn-edit">
                        </button>
                        <button type="button" class="btn btn-pure btn-default icon md-delete p-0 btn-trash">
                        </button>
                      </div>
                      <div class="comment-actions text-left">
                        <a href="javascript:void(0)" role="button">Replay</a>
                        <a>
                      <i class="icon md-chevron-down"></i>
                      <span class="neg-number mx-5">-5</span>
                      <i class="icon md-chevron-up"></i>
                    </a>
                      </div>
                    </div>
                  </div>
                  <div class="comment media">
                    <div class="pr-15">
                      <a href="#" class="avatar avatar-sm">
                        <img src="{{ url_for('static', filename='global')}}/portraits/5.jpg" alt="...">
                      </a>
                    </div>
                    <div class="comment-body media-body">
                      <div class="comment-title">
                        <div class="comment-meta float-right">
                          <span>04.08.19, 16:09 PM</span>
                        </div>
                        <a href="javascript:void(0)" class="comment-author">
                      Mask Roy
                    </a>
                      </div>
                      <div class="comment-content">
                        <p>
                          Lorem reprehenderit laborum adipisicing nisi veniam aute sint ipsum est. In excepteur
                          et id et. Est magna labore eiusmod aliquip. Ea irure
                          voluptate non anim nostrud excepteur minim non. Est anim
                          cillum in consectetur nisi qui deserunt Lorem voluptate.
                          Duis nostrud cillum aliqua ex. Eu id dolor sint Lorem
                          labore amet. Sint laborum mollit ut pariatur incididunt
                          nisi dolor.
                        </p>
                        <button type="button" class="btn btn-pure btn-default icon md-edit p-0 btn-edit">
                        </button>
                        <button type="button" class="btn btn-pure btn-default icon md-delete p-0 btn-trash">
                        </button>
                      </div>
                      <div class="comment-actions text-left">
                        <a href="javascript:void(0)" role="button">Replay</a>
                        <a>
                      <i class="icon md-chevron-down"></i>
                      <span class="pos-number mx-5">3</span>
                      <i class="icon md-chevron-up"></i>
                    </a>
                      </div>
                    </div>
                  </div>
                  <div class="comments-add media mt-25">
                    <div class="pr-20">
                      <a class="avatar avatar-sm" href="javascript:void(0)">
                        <img src="{{ url_for('static', filename='global')}}/portraits/3.jpg">
                      </a>
                    </div>
                    <div class="media-body">
                      <form action="#" method="post">
                        <div class="comment-summernote-custom form-group">
                          <div data-plugin="summernote" data-plugin-options='{"toolbar":[["style", ["bold", "italic", "underline", "clear"]],["color", ["color"]],["para", ["ul", "ol", "paragraph"]]]}'>
                            <h3>Heading is here</h3>
                            <p>Lorem ipsum dolor sit amet,
                              <strong><b>consectetur adipisicing elit</b></strong>consectetur
                              adipisicing elit, sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud <u>Exercitation</u> ullamco
                              laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <ul>
                              <li>list text here</li>
                              <li>list text here</li>
                              <li>list text here</li>
                            </ul>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="dropdown dropup comment-visibility">
                            <button type="button" class="btn btn-pure btn-default dropdown-toggle p-0" data-toggle="dropdown"
                              aria-expanded="false">
                              <i class="icon md-lock"></i>
                            </button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                            </div>
                          </div>
                          <span class="blue-grey-400">View by All Users</span>
                        </div>
                        <div class="form-group mb-0">
                          <button type="submit" class="btn btn-primary mr-10">Send</button>
                          <button type="reset" class="btn btn-default">Clear</button>
                          <div class="dropdown dropup comment-attach">
                            <button type="button" class="btn btn-pure btn-primary" data-toggle="dropdown" aria-expanded="false">Attach
                            </button>
                            <div class="dropdown-menu bullet dropdown-menu-right" role="menu">
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-camera" aria-hidden="true"></i>
                            Photo
                          </a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-tv-play" aria-hidden="true"></i>
                            Video
                          </a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-volume-high" aria-hidden="true"></i>
                            Audio
                          </a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-file" aria-hidden="true"></i>
                            Document
                          </a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                            <i class="icon md-map" aria-hidden="true"></i>
                            Map
                          </a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-block">
                <p class="mb-10">
                  <span class="float-right pl-10">4h 30m</span>
                  Time estimated
                </p>
                <p>
                  <span class="float-right pl-10">2h 10m</span>
                  Time working
                </p>
                </ul>
                <div class="progress progress-xs mb-10">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemax="100"
                    aria-valuemin="0" aria-valuenow="60" style="width: 60%;">
                  </div>
                </div>
              </div>
              <div class="card-block">
                <h4 class="project-option-title">Label</h4>
                <span class="badge badge-default badge-outline mr-5 mb-5">Default</span>
                <span class="badge badge-primary mr-5 mb-5">Primary</span>
                <span class="badge badge-warning mr-5 mb-5">Serious</span>
              </div>
              
              <div class="card-block project-participators">
                <h4 class="project-option-title">People</h4>
                <div class="media mt-0">
                  <div class="pr-20 text-middle">
                    <span>Reported By : </span>
                  </div>
                  <div class="media-body">
                    
                    <span class="font-size-16 ml-5">{{issue_uploader}}</span>
                  </div>
                </div>
               
                <div class="media">
                  <div class="pr-20">
                    <span>Votes :
                      <span>
                  </div>
                  <div class="media-body">
                    <a class="media-content">
                      <span>11</span>
                      vote for this issue
                    </a>
                  </div>
                </div>
                
              </div>
              <div class="card-block project-dates">
                <h4 class="project-option-title">Key Dates</h4>
                <p class="mb-10">
                  <span>Created : </span>
                  {{issue_time}}
                </p>
                <p class="mb-10">
                  <span>Last Updated : </span>
                  [[to do]]
                </p>
              </div>
              <div class="card-block">
                <h4 class="project-option-title">Developers</h4>
                <a href="#">Create branch</a>
              </div>
             
              <div class="card-block project-fast-operation">
                <a href="#">
              <i class="icon md-check-circle mr-10"></i>
              <span>Create checklist</span>
            </a>
                <a href="#">
              <i class="icon md-notifications mr-10"></i>
              <span>Due date</span>
            </a>
                <a href="#">
              <i class="icon md-folder mr-10"></i>
              <span>Move to archive</span>
            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        if( ! Detector.webgl ) Detector.addGetWebGLMessage();


      var scene = new THREE.Scene();
            <!--scene.background = new THREE.Color( 0xffffff );-->
      var camera = new THREE.PerspectiveCamera( 60, 4/3, 0.1, 1000 );
      var renderer = new THREE.WebGLRenderer();

            var container_id = "pointclouds_container";
            
            container = document.getElementById(container_id);
            container.appendChild( renderer.domElement );

      var controls = new THREE.OrbitControls( camera, renderer.domElement );
      // enable animation loop when using damping or autorotation
            <!--controls.enableDamping = true;-->
            <!--controls.dampingFactor = 0.5;-->
      controls.enableZoom = true;

            var rotation_x = Math.PI;
            var translation_z = 1;


      var loader = new THREE.PLYLoader();
      loader.load( '{{issue_points}}', function( geometry ){

        var material = new THREE.PointsMaterial();
        material.size = 0.05;
        material.vertexColors = THREE.VertexColors;

        var mesh = new THREE.Points( geometry, material );

        mesh.rotation.x = Math.PI;
                mesh.position.z = translation_z;
        scene.add( mesh );

      } )

            cam_geometry_fn = function( geometry ) {
        var material = new THREE.MeshBasicMaterial( { color: 0xffffff } );
                material.wireframe = true;
        var mesh = new THREE.Mesh( geometry, material );
        mesh.rotation.x = Math.PI;
                mesh.position.z = translation_z;
        scene.add( mesh );
            };

            loader.load( '{{issue_cam1}}', cam_geometry_fn );
            loader.load( '{{issue_cam2}}', cam_geometry_fn );

      camera.position.z = 5;

            
      var render = function () {
                <!--requestAnimationFrame( render );-->
                <!--controls.update();-->

        renderer.render(scene, camera);
      };

            function onWindowResize(){


                container = document.getElementById(container_id);
                prev_col = container.previousElementSibling;
                // var height = prev_col.offsetHeight;

                var height = 450;

                var style = container.currentStyle || window.getComputedStyle(container),
                    width = container.offsetWidth, // or use style.width
                    // margin = parseFloat(style.marginLeft) + parseFloat(style.marginRight),
                    // border = parseFloat(style.borderLeftWidth) + parseFloat(style.borderRightWidth),
                    padding = parseFloat(style.paddingLeft) + parseFloat(style.paddingRight);

                var aspect_ratio = 4/3;
                var container_width = width - padding;
                var container_height = container_width/aspect_ratio; 

                camera.aspect = aspect_ratio;
                camera.updateProjectionMatrix();

                renderer.setSize( container_width, container_height );
                render();
            }

            // redraw after loading something
            THREE.DefaultLoadingManager.onLoad = function() { 
                render();
            }

            controls.addEventListener( 'change', render ); // remove when using animation loop
            window.addEventListener( 'resize', onWindowResize, false );

            onWindowResize();
    </script>


    <script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDqwq58gRX2RO2kjubCGocacSa5l9Emu7k"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='global')}}/vendor/ply_libs/jquery-2.1.1.min.js"></script>


    <!-- Footer -->
    <footer class="site-footer">
      <div class="site-footer-legal">© 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
      <div class="site-footer-right">
        Crafted with <i class="red-600 icon md-favorite"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
      </div>
    </footer>
    <!-- Core  -->
    <script src="{{ url_for('static', filename='global')}}/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/jquery/jquery.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/popper-js/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/bootstrap/bootstrap.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/animsition/animsition.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/waves/waves.js"></script>
    
    <!-- Plugins -->
    <script src="{{ url_for('static', filename='global')}}/vendor/switchery/switchery.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/intro-js/intro.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/screenfull/screenfull.js"></script>
    <script src="{{ url_for('static', filename='global')}}/vendor/slidepanel/jquery-slidePanel.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/jquery-ui/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/asprogress/jquery-asProgress.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-tmpl/tmpl.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-load-image/load-image.all.min.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/summernote/summernote.min.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/gmaps/gmaps.js"></script>
    
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='global')}}/js/Component.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Plugin.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Base.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Config.js"></script>
    
    <script src="{{ url_for('static', filename='base/assets') }}/js/Section/Menubar.js"></script>
    <script src="{{ url_for('static', filename='base/assets') }}/js/Section/GridMenu.js"></script>
    <script src="{{ url_for('static', filename='base/assets') }}/js/Section/Sidebar.js"></script>
    <script src="{{ url_for('static', filename='base/assets') }}/js/Section/PageAside.js"></script>
    <script src="{{ url_for('static', filename='base/assets') }}/js/Plugin/menu.js"></script>
    
    <script src="{{ url_for('static', filename='global')}}/js/config/colors.js"></script>
    <script src="{{ url_for('static', filename='base/assets') }}/js/config/tour.js"></script>
    <script>Config.set('assets', '../../assets');</script>
    
    <!-- Page -->
    <script src="{{ url_for('static', filename='base/assets') }}/js/Site.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Plugin/asscrollable.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Plugin/slidepanel.js"></script>
    <script src="{{ url_for('static', filename='global')}}/js/Plugin/switchery.js"></script>
        <script src="{{ url_for('static', filename='global')}}/js/Plugin/asprogress.js"></script>
        <script src="{{ url_for('static', filename='global')}}/js/Plugin/summernote.js"></script>
    
        <script src="{{ url_for('static', filename='base/assets') }}/examples/js/pages/project.js"></script>
        <script src="{{ url_for('static', filename='global')}}/js/Plugin/magnific-popup.js"></script>
    
        <script src="{{ url_for('static', filename='base/assets') }}/examples/js/advanced/lightbox.js"></script>
        <script src="{{ url_for('static', filename='global')}}/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="{{ url_for('static', filename='global')}}/js/Plugin/gmaps.js"></script>
    
        <script src="{{ url_for('static', filename='base/assets') }}/examples/js/advanced/maps-google.js"></script>
    
  </body>
</html>
